<template>
    <div>
        <p v-for="(name) in names" :key="name">
            {{ name.id }} - {{ name.first }} {{ name.last }}
        </p>
        <hr  />
        <div class="card" v-for="person in peoples" :key="person">
            <h2>{{ person.name }}</h2>
            <p class="card sub" v-for="friend in person.friends"  :key="friend">
            {{ friend }}
            </p>
        </div>
        <hr>
        <div v-for="user in users" :key="user">
            <p v-if="user.age >=45 && user.age <=50">{{ user.name }}</p>
            <p v-else-if="user.age >=30 && user.age <=44">{{ user.name }}</p>
            <p v-else>Name:{{ user.name }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name:"IterationView",
        data(){
            return{
                users:[
                    {name: 'Jhon',age:50},
                    {name: 'Nami',age:30},
                    {name: 'Yasuo',age:28},
                    {name: 'Jin',age:45},
                ],
               name: [
                {id: 0,firs: "Mark", last:"(Zuckerg)"},
                {id: 1,firs: "Elon", last:"(Musk)"},
            ],
            peoples:[
                {id: 0 ,name: "Jhon Doe", friends:['Scots Lang','Tony Stark']},
                {id: 2 ,name: "Tayler Swiff", friends:['Leo messi','JJ Baby']},
            ]
            }
        }
    }
</script>

<style>
    .card{
        width:30rem;
        margin: 1rem auto;
        padding:0.5rem;
        border: 1px solid Black;
    }
    .sub{
        width: initial;
        margin: 0.5rem;
    }
</style>