<template>
  <div>
    <!-- <Conditional-View  /> -->
  <iteration-vue/>
  </div>
</template>

<script>
// import Conditional from './components/Conditional.vue';
  import iterationvue from './components/Iteration.vue';
export default {
    compoments: {
        // ConditionalView,
        iterationvue,
    },
}
</script>

<style lang="scss" scoped>

</style>